page-locateAll {
  #map {
        height:100%;

    }

    .drill {
        text-align: center;
    }

    .localll {
        border: none;
        position: relative;   
        text-align: center;
        padding-left:10px;
        padding-top:10px;
        background-color: transparent;
        width:100%;
    }
}
