page-locateAll {
  #map {
        height:100%;
    }

  .iconic {

        border: none;
        position: relative;   
        color:#ffffff;
        width:100%;
        text-align:center;
        background-color: primary;

        }

}
